<h3 class="text-center">At Target, we believe that everyone deserves to enjoy the joy of everyday life. We are committed to providing families with the products and services they need to make life easier and more enjoyable. From groceries and clothing to toys and home décor, we offer a wide selection of items to make your home and family life better. We also strive to provide helpful advice and support to help you make the best decisions for your family. Our goal is to help you discover the joy of everyday life, no matter what your budget or lifestyle. Thank you for choosing Target!</h3>

<br>
<h5 class="text-center">Use the navigation at the top to login and view your customized shopping list!</h5>

<br>
<div class="image-container">
    <img class="align-items-center" src="/images/StoreMap.jpeg" alt="Target Store Map">
</div>