<main>
    
<div class ="text-center">
    <h2>Shopping List</h2>
    <h4>{{name}}</h4>
    <p>{{price}}</p>
    <p>{{category}}</p>
</div>

<h1>Shopping List</h1>
<form action="add" method="get">
    <label for="">Add Item</label>
    <input type="text" name="item">
    <input id="addNeed" type="submit" value="Need">
    <input id="addHave" type="submit" value="Have">
</form>

<h2>Need:</h2>
<ul class="list">
    <li><input type="checkbox" name="item">Milk <a href='#'>&#10006;</a></li>
    <li><input type="checkbox" name="item">Eggs <a href='#'>&#10006;</a></li>
    <li><input type="checkbox" name="item">Cheese <a href='#'>&#10006;</a></li>
    <li><input type="checkbox" name="item">Broccoli <a href='#'>&#10006;</a></li>
</ul>
<h2>Have:</h2>
<ul class="list">
    <li><input type="checkbox" name="item" checked>Cream <a href='#'>&#10006;</a></li>
    <li><input type="checkbox" name="item" checked>Chicken <a href='#'>&#10006;</a></li>
    <li><input type="checkbox" name="item" checked>Strawberries <a href='#'>&#10006;</a></li>
    <li><input type="checkbox" name="item" checked>Steak <a href='#'>&#10006;</a></li>
</ul>

</main>
{{!-- <script src="/public/js/shopping.js"></script> --}}