<main>

<h1>Your Personalized Shopping List</h1>
<p>Add an item using the box below or search from a variety of products that is in our stores</p>
<div class="flex justify-between items-center">
    <div class="container-search flex justify-between items-center" id="form">
        <p id="inputContainer"><input type="text" placeholder="Enter Item" id="cityInput"></p>
        <button type="button" id="addNeed" class="btn font-semibold text-sm w-1/4 hover:bg-blue-200 border border-blue-200 text-right rounded ml-2 py-2">Add Item</button>

    <div>
</div>
<br>
<label class="text-lg" for="">Choose from a variety of in store items:</label>

<select id="itemList">
    
    {{#each products as |product| }}
  <option value='{{product.name}}' data-price="{{product.price}}" data-category="{{product.category}}"> {{product.name}}</option>
    {{/each}}

</select>
<button id="item-btn">Add Item</button>
<br>
<br>
<h2>Items Needed:</h2>
<ul class="need-list">
    <div class="container">
        <ul class="list-group list-group-flush text-lg" id="ul"></ul>
        <button type="button" id="delete" class="border border-blue-200 font-semibold text-sm px-3 rounded mt-3">Clear Shopping List</button>
        {{!-- <li><input type="checkbox" name="item">Milk <a href='#'>&#10006;</a></li>
        <li><input type="checkbox" name="item">Eggs <a href='#'>&#10006;</a></li>
        <li><input type="checkbox" name="item">Cheese <a href='#'>&#10006;</a></li>
        <li><input type="checkbox" name="item">Broccoli <a href='#'>&#10006;</a></li> --}}
    </div>
</ul>

{{!-- <h2>Have:</h2>
<ul class="list">
    <li><input type="checkbox" name="item" checked>Cream <a href='#'>&#10006;</a></li>
    <li><input type="checkbox" name="item" checked>Chicken <a href='#'>&#10006;</a></li>
    <li><input type="checkbox" name="item" checked>Strawberries <a href='#'>&#10006;</a></li>
    <li><input type="checkbox" name="item" checked>Steak <a href='#'>&#10006;</a></li>
</ul> --}}




   
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="./js/shopping.js"></script>