<main>
    <div class="container d-flex justify-content-center mt-5">
        <div class="card text-center pt-2">
            <h2 class="head text-left mb-4">Grocery Checklist</h2>
            <div class="d-flex flex-row align-items-center icon">
                <img src="https://img.icons8.com/cotton/96/000000/steak-rare.png" width="30" />
                <div>
                    <h4 class="mb-0"> Beef</h4>
                    <p>sirain and tenderiain</p>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center icon">
                <img src="https://img.icons8.com/fluent/96/000000/natural-food.png" width="30" />
                <div>
                    <h4 class="mb-0">Vegetables</h4>
                    <p>spinach,corn etc</p>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center icon">
                <img src="https://img.icons8.com/cotton/96/000000/toast--v1.png" width="30" />
                <div>
                    <h4 class="mb-0">Bread</h4>
                    <p>brown,multigrain etc</p>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center icon">
                <img src="https://img.icons8.com/fluent/96/000000/cherry.png" width="30" />
                <div>
                    <h4 class="mb-0">Berries</h4>
                    <p>blue,rasp etc</p>
                </div>
            </div>

        </div>

    </div>
</main>

