@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background-color: darkgray;
}


main {
  padding: 1rem;
  margin: auto;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #c00;
  padding: 0 1.5rem;
  font-size: 20px;
}
a {
 all: unset;
 text-decoration: none;
}
.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-header__item {
  margin: 0 1rem;
  padding: 0;
  border: none;
  background-color: none;
  text-decoration: none;
}
.main-header__item a {
  text-decoration: none;
 
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}
/* Add some spacing and a shadow to the form */
form {
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Style the input field with some padding and a rounded border */
input {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}
/* Style the button with some padding and a rounded border */
button {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  background-color: black;
}
/* Add some spacing and a shadow to the task list */
ul {
  margin-top: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Style the task items with some padding and a rounded border */
li {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}

form {
  font-size: 22px;
}

input [type="text"]{
  background-color: red;
}

#addNeed {
  background-color: lightgray;

}

#addHave {
  background-color: lightgray;
  
}

h1 {
  color: #c00;
  font-size: 50px;
}

h2{
  color: darkblue;
  text-align: left;
}

.list {
  color: gray;
  font-size: 22px;
  padding: 0 !important;
  width: 500px;
  border: 1.3px solid gray
}

.list li {
  list-style: none;
  background-color: lightcyan;
  border-bottom: 1.3px solid dotted lightblue;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
  
}

li a {
  float: right;
  text-decoration: none;
  color: red;
}

