@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background-color: darkgray;
}

.image-container {
  text-align: center;
}

main {
  padding: 1rem;
  margin: auto;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #c00;
  padding: 0 1.5rem;
  font-size: 20px;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-header__item {
  margin: 0 1rem;
  padding: 0;
  border: none;
  background-color: none;
  text-decoration: none;
}
.main-header__item a {
  text-decoration: none;
 
}

/* Style the input field with some padding and a rounded border */
input {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}
/* Style the button with some padding and a rounded border */
button {
  border-radius: 2px;
  border-color: lightgray;
  background-color: white;
}
/* Add some spacing and a shadow to the task list */
ul {
  margin-top: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #c00;
  font-size: 50px;
}

h2{
  color: darkblue;
  text-align: left;
}

.check-symbol {
  color: gray;
}

.check-symbol[checked="true"] {
  color: green;
}

p, label {
  font-size: 20px;
}