/* All */
body{
	background: #cc0000;
}

.card{
	width: 250px;
	height: 350px;
	border-radius: 1.25rem;
	background: #ffc107;
}
.icon img{
	/*width: 30px;
	height: 30px;*/
	border-radius: 50%;
	background: #fff;
	margin-left: 30px;
	margin-bottom: 14px;
	padding: 5px;

}
.head{
	
	margin-left: 30px;
	margin-top: 20px;
	font-weight: bold;
}
p{
	margin-left: 20px;
	font-size: 10px;
	text-align: left;
	/*margin-top: -8px;*/
}
h4 {
    text-align: left;
    margin-left: 20px;
    font-size: 1.0rem;
}

table tr.checked {
    text-decoration: line-through;
    background-color: #ebebeb;
}